@import "tailwindcss";

@theme {

  --default-font-family: monospace;

  --color-background: #131313;
  --color-foreground: #f3e3ca;
  --color-primary: #ff914c;
  --color-primary-accent: #ffc39e;
  --color-secondary: #1a2237;
  --color-secondary-accent: #98b2e3;
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    overflow-y: scroll;
    overflow-x: clip;
    scroll-behavior: smooth;
    width: 100%;
  }

  .h-screen {
    height: 100vh;
    height: 100dvh;
  }

  section {
    scroll-margin-top: 2rem;
  }
}
