---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <section
    id="what-is-a-glug"
    class="w-full max-w-5xl mx-auto p-4 flex flex-col gap-4"
  >
    <h2 class="text-2xl md:text-3xl lg:text-4xl font-bold text-primary-accent">
      What is a GLUG?
    </h2>
    <p class="text-lg md:text-xl lg:text-2xl">
      A <a
        href="https://en.wikipedia.org/wiki/Linux_user_group"
        title="More info about GLUGs"
        target="_blank"
        class="underline text-secondary-accent font-medium"
        >GNU/Linux Users Group (GLUG)</a
      > is a community dedicated to promoting and supporting Swatantra Software.
      GLUGs bring together enthusiasts, developers, and advocates to share knowledge,
      collaborate on projects, and spread awareness about free and open-source software.
      Without a central authority, the GNU/Linux movement relies on local groups
      like Mumbai GLUG to drive advocacy, education, and user support—empowering
      individuals to take control of their computing.
    </p>
  </section>
</BaseLayout>
